<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List members</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Members</h1>
    <div th:if="${members.size() == 0}">
        <h2>No members found!</h2>
    </div>
    <div th:unless="${members.size() == 0}">
        <h2 th:text="${members.size() + ' members found.'}"></h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date of birth</th>
                <th>Delete Member</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.getId()}"></td>
                <td th:text="${member.getFirstName() + ' ' + member.getLastName()}"></td>
                <td th:utext="${member.getAddress().getStreet() + '<br/>' + member.getAddress().getPostalCode() + ' ' + member.getAddress().getCity()}"></td>
                <td th:text="${member.getEmail()}"></td>
                <td th:text="${member.phone != null ? member.phone : 'No phone number registered'}"></td>
                <td th:text="${member.getDateOfBirth()}"></td>
                <td>
                    <form action="/admin/deletememberbyid" method="post">
                        <input type="hidden" name="id" th:value="${member.getId()}" />
                        <button type="submit">Delete Member</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>